body {
  display: flex;
  flex-direction: row;
background-image: url("img/yo3.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Nanum Pen Script', cursive;
color: red ;
font-size: 20px;

}



body div {
  text-align: center;

  width: 50%;

  margin: 0 auto;
  padding: 10px;
}
